@model TrelloClone.ViewModels.AddCard
@{
    ViewData["Title"] = "AddCard";
}

<div class="container">
    <div class="row">
        <h2>Добавить задачу</h2>
        <form asp-action="AddCard" asp-controller="Board">
            <div asp-validation-summary="All" class="red-text"></div>


            <label>Наименование SMART-задачи</label>
            <input type="text" asp-for="Name"/>


            <label>Требование к задаче (что считается исполнением задачи)</label>
            <input type="text" asp-for="Requirement" />


            <label>Плановый срок реализации задачи</label>
            <input type="text" asp-for="Term" />


            <button type="submit" class="btn">Добавить задачу</button>
        </form>
    </div>
</div>

