@model TrelloClone.ViewModels.AddCard


<form asp-action="AddCard" asp-controller="UserBoard">


    <div asp-validation-summary="All" class="red-text"></div>


    <div class="card_wrapper open-popup">
        <div>
            <textarea asp-for="Name" placeholder="Наименование SMART-задачи" class="edit_description_input"></textarea>
        </div>
    </div>


    <div class="card_wrapper open-popup">
        <div>
            <textarea asp-for="Requirement" placeholder="Требование к задаче (что считается исполнением задачи)" class="edit_description_input"></textarea>
        </div>
    </div>


    <label>Плановый срок реализации задачи</label>
    <input type="month" asp-for="Term" />


    <div class="action_buttons_wrapper">


        <button type="submit" class="action_btn primary_btn" id="saveTextArea">
            <div class="description">Добавить карточку</div>
        </button>


        <div class="action_btn close_action_btn white_btn" id="saveTextArea" onclick="closeCard(this)">
            <div>
                <i class="fa-solid fa-xmark" style="color: #000000;"></i>
            </div>
        </div>


    </div>


</form>
