
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
/*COMMON*/


.small_title {
    font-size: 14px;
    font-weight: 800;
    color: #292d34;
    /* color:var(--text-color); */
    /* color: var(--dark-grey-color); */
}

.small_description {
    font-size: 12px;
    font-weight: 500;
    /* color:#707070; */
}

.mid_title {
    font-size: 18px;
    font-weight: 600;
    color: #292d34;
    /* color:var(--text-color); */
    /* color: var(--dark-grey-color); */
}

.mid_description {
    font-size: 15px;
    font-weight: 400;
    color: #707070;
}

.title {
    font-size: 22px;
    font-weight: 800;
    color: #292d34;
}

.description {
    font-size: 17px;
    font-weight: 500;
    /* color:#4d4d4d; */
}

.main_container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 100px;
}


.margin_container_bottom {
    margin-bottom: 40px;
}

.margin_container_bottom_middle {
    margin-bottom: 25px;
}

.margin_container_bottom_small {
    margin-bottom: 15px;
}

.margin_container_bottom_extrasmall {
    margin-bottom: 5px;
}

.margin_container_top {
    margin-top: 30px;
}

.margin_container_top_middle {
    margin-top: 25px;
}

.margin_container_top_small {
    margin-top: 15px;
}

.default_bcolor {
    background-color: #787486;
}

.green_bcolor {
    background-color: #5DAC50;
}

.blue_bcolor {
    background-color: #1b74fd;
}

.yellow_bcolor {
    background-color: #ffc107;
}

.red_bcolor {
    background-color: #FF280C;
}

.default_bcolor_highcontrast {
    background-color: #78748630;
    color: #787486;
}

.green_bcolor_highcontrast {
    background-color: #5DAC5030;
    color: #5DAC50;
}

.blue_bcolor_highcontrast {
    background-color: #1b74fd30;
    color: #1b74fd;
}

.red_bcolor_highcontrast {
    background-color: #FF280C30;
    color: #FF280C;
}

.yellow_bcolor_highcontrast {
    background-color: #ffc10730;
    color: #ffc107;
}

.action_buttons_wrapper {
    display: flex;
}

    .action_buttons_wrapper .action_btn:last-child {
        margin-right: 0px;
    }

.action_btn {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    padding: 15px 10px;
    border: none;
    margin-right: 20px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.01em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

    .action_btn .action_btn_icon {
        margin-right: 15px;
    }

    .action_btn.close_action_btn {
        width: fit-content;
        padding: 20px;
        margin-right: 0px;
    }

    .action_btn.header_add_btn {
        height: 10px;
        padding: 12px;
        margin-left: 15px;
        width: fit-content;
        margin-right: 0px;
    }

    .action_btn.close_action_btn.white_btn:hover {
        background-color: #78748615;
        /* color: #fff; */
    }

    .action_btn.header_btn.active .action_btn_icon {
        color: #1b74fd;
        fill: #1b74fd;
    }

    .action_btn.header_btn.active {
        background-color: #1b74fd30;
        color: #1b74fd;
        border: 2px solid #1b74fd30;
    }

    .action_btn.header_btn:hover {
        background-color: #1b74fd30;
        color: #1b74fd;
        border: 2px solid #1b74fd30;
    }

        .action_btn.header_btn:hover .action_btn_icon {
            color: #1b74fd;
            fill: #1b74fd;
        }

.header_btn {
    width: 180px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #e0e0e0;
    color: #707070;
}


    .header_btn .action_btn_icon {
        color: #e0e0e0;
        fill: #e0e0e0;
        font-size: 18px;
    }

.white_btn {
    background-color: #fff;
    color: #787486;
}

.action_btn.white_btn:hover {
    background-color: #1b74fd;
    color: #fff;
}

.primary_btn {
    background-color: #1b74fd;
    color: #fff;
}

.action_btn.primary_btn:hover {
    background-color: #1b74fd30;
    color: #1b74fd;
}

.yellow_btn {
    background-color: #ffc107;
    color: #fff;
}

.action_btn.yellow_btn:hover {
    background-color: #ffc10730;
    color: #ffc107;
}

.orange_btn {
    background-color: #f69110;
    color: #fff;
}

.action_btn.orange_btn:hover {
    background-color: #f6911030;
    color: #f69110;
}

.red_btn {
    background-color: #FF280C;
    color: #fff;
}

.action_btn.red_btn:hover {
    background-color: #FF280C30;
    color: #FF280C;
}

.green_btn {
    background-color: #5DAC50;
    color: #fff;
}

.action_btn.green_btn:hover {
    background-color: #5DAC5030;
    color: #5DAC50;
}

.container_description {
    margin-bottom: 20px;
}

.add_texteditor_buttons_wrapper .action_btn {
    width: max-content;
}

.placeholder_input {
    color: #757575;
    font-size: 15px;
    font-weight: 400;
}

.empty_image_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon_dropdown {
    font-size: 22px;
    cursor: pointer;
    color: #0d062d;
    /*transition: all 0.5s ease;*/
}

.icon_dropdown:hover {
    color: #1b74fd;
}

.icon_dropdown.active {
    transform: rotate(180deg);
    transition: all 0.5s ease;
}
/*SIDEBAR*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #fff;
    z-index: 10;
    transition: all 0.5s ease;
    border-right: 2px solid #EBECF2;
}

    .sidebar.close_sidebar {
        width: 78px;
    }

        .sidebar.close_sidebar .sidebar_btn {
            transform: rotate(180deg);
            transition: all 0.5s ease;
        }

    .sidebar .logo-details {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
    }

        .sidebar .logo-details img {
            font-size: 30px;
            color: #292d34;
            height: 40px;
            min-width: 78px;
            text-align: center;
            line-height: 50px;
        }

        .sidebar .logo-details .logo_name {
            font-size: 22px;
            color: #1B74FD;
            font-weight: 700;
            transition: 0.3s ease;
            transition-delay: 0.1s;
        }

    .sidebar.close_sidebar .logo-details .logo_name {
        transition-delay: 0s;
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links {
        height: 100%;
        padding: 25px 0 150px 0;
        overflow: auto;
    }

    .sidebar.close_sidebar .nav-links {
        overflow: visible;
    }

    .sidebar .nav-links::-webkit-scrollbar {
        display: none;
    }

    .sidebar .nav-links li {
        position: relative;
        list-style: none;
        transition: all 0.4s ease;
    }

.sub-menu li:hover {
    background: #1b74fd30;
    cursor: pointer;
    color: #fff;
}

    .sub-menu li:hover a {
        color: #1b74fd;
    }

.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close_sidebar .nav-links li .iocn-link {
    display: block
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #292d34;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close_sidebar .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

    .sidebar .nav-links li a .link_name {
        font-size: 18px;
        font-weight: 500;
        color: #292d34;
        transition: all 0.4s ease;
    }

.sidebar.close_sidebar .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 20px;
    margin-top: 0px;
    /* background: #1B74FD30; */
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    /*color: #292d34;*/
    font-size: 15px;
    font-weight: 500;
    padding: 5px 0;
    white-space: nowrap;
    /* opacity: 0.6; */
    transition: all 0.3s ease;
}

li .sub-menu a {
    color: #292d34;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar.close_sidebar .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close_sidebar .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    background-color: #fff;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close_sidebar .nav-links li .sub-menu .link_name {
    font-size: 20px;
    font-weight: 600;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
}

.sub-menu li {
    background-color: #f5f5f5;
    color: #1b74fd;
    border-radius: 16px;
    padding: 5px 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

    .sub-menu li:first-child {
        background-color: transparent;
    }

    .sub-menu li:last-child {
        margin-bottom: 0px;
    }

.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #f5f5f5; */
    padding: 12px 8px;
    transition: all 0.5s ease;
}

.sidebar.close_sidebar .profile-details {
    background: none;
}

.sidebar.close_sidebar .profile-details {
    width: 78px;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 10px 0 0px;
    /* background: var(--primary-color); */
    transition: all 0.5s ease;
}

.sidebar.close_sidebar .profile-details img {
    margin: 0;
    padding: 5px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
    color: #292d34;
    font-size: 18px;
    font-weight: 500;
    /*white-space: nowrap;*/
}

.sidebar.close_sidebar .profile-details i,
.sidebar.close_sidebar .profile-details .profile_name,
.sidebar.close_sidebar .profile-details .job {
    display: none;
}

.sidebar .profile-details .job {
    font-size: 12px;
}

.main_section {
    /*position: relative;
    height: 100vh;
    width:100%;*/
}

.home-section {
    position: relative;
    /* background: var(--body-color); */
    /*height: 100vh;*/
    height: auto;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.sidebar.close_sidebar ~ .home-section {
    left: 78px;
    width: calc(100% - 78px);
}

.home-section .home-content {
    /*height: 60px;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0px 20px 30px;
    /*position: fixed;*/
}

    .home-section .home-content .bx-menu,
    .home-section .home-content .text {
        color: #11101d;
        font-size: 35px;
    }

    .home-section .home-content .bx-menu {
        margin: 0 15px;
        cursor: pointer;
    }

    .home-section .home-content .text {
        font-size: 26px;
        font-weight: 600;
    }

.home-content .title {
    text-wrap: nowrap;
    margin-right: 40px;
}

.home_content_info {
    display: flex;
    align-items: center;
}

.home_content_info_icon {
    display: flex;
    padding: 10px;
    width: 40px;
    height: 40px;
    color: #1b74fd;
    background-color: #1b74fd30;
    border-radius: 10px;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
}

.sidebar_close_btn_wrapper {
    width: 40px;
    height: 40px;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -20px;
    top: 10px;
    z-index: 10;
    cursor: pointer;
    box-shadow: 0px 4px 10px -3px rgba(34, 60, 80, 0.2);
}

@media (max-width: 400px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }

    .sidebar {
        width: 78px;
    }

        .sidebar.close {
            width: 0;
        }

    .home-section {
        left: 78px;
        width: calc(100% - 78px);
        z-index: 100;
    }

    .sidebar.close ~ .home-section {
        width: 100%;
        left: 0;
    }
}

.main_container_content {
    width: 100%;
    height: calc(100vh - 110px);
    /*min-height: 100vh;*/
    /* margin: 20px auto 30px; */
    padding: 30px 15px 0px 15px;
    overflow-x: scroll;
    scrollbar-color: #c1c1c1 #eee;
    scrollbar-width: thin;
    /* display: flex; */
}

    .main_container_content::-webkit-scrollbar {
        height: 13px;
        width: 10px;
        background: #eee;
        border-radius: 8px;
    }

    .main_container_content::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        border-radius: 8px;
    }

/*HEADER BTNS*/

.header_btns_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0px 15px;
}

    .header_btns_wrapper a {
        text-decoration: none;
    }
/*STAGES*/
.stages_main_wrapper {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: calc(100vh - 153px);
    padding-bottom: 15px;
    /* overflow-x: scroll; */
}

    .stages_main_wrapper .stage_wrapper {
        margin-right: 30px;
    }

        .stages_main_wrapper .stage_wrapper:last-child {
            margin-right: 0px;
        }

.stage_wrapper {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 16px;
    padding: 20px;
    width: 350px;
    max-height: calc(100vh - 100px);
}

.stage_header_info_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
}

.stage_info_main_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stage_info_wrapper {
    display: flex;
    align-items: center;
}

    .stage_info_wrapper .mid_title {
        font-size: 16px;
        width: 93%;
    }

.stage_indicator_circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.stage_indicator_line {
    width: 100%;
    height: 4px;
    border-radius: 4px;
}

.stage_info_wrapper textarea {
    background: #0000;
    border-radius: 8px;
    box-shadow: none;
    box-sizing: border-box;
    border: none;
    height: 20px;
    margin: 0;
    max-height: 256px;
    min-height: 20px;
    overflow: hidden;
    overflow-wrap: break-word;
    padding: 0px 8px 6px 12px;
    resize: none;
}



.count_cards_wrapper {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e0e0e0;
    color: #625f6d;
    /* margin-left: 15px; */
    padding: 15px;
}

.add_item_wrapper {
    background-color: #1b74fd30;
    color: #1b74fd;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

    .add_item_wrapper:hover {
        background-color: #1b74fd;
        color: #fff;
    }
/**/

/*CARD*/
.cards_main_wrapper {
    height: 100%;
    overflow-y: scroll;
    scrollbar-color: #c1c1c1 #eee;
    scrollbar-width: thin;
}

    .cards_main_wrapper .card_wrapper {
        margin-bottom: 20px;
        border: 2px solid transparent;
    }

        .cards_main_wrapper .card_wrapper.primary:hover {
            /*background-color:#f00;*/
            border: 2px solid #1b74fd;
            border-radius: 16px;
        }

        .cards_main_wrapper .card_wrapper:last-child {
            margin-bottom: 0px;
        }

.card_wrapper_content {
    background-color: #fff;
    border-radius: 16px;
    padding: 20px;
    width: 100%;
    height: fit-content;
    min-height: 80px;
    cursor: pointer;
}

    .card_wrapper_content .mid_description {
        word-wrap: break-word;
    }

    .card_wrapper_content .mid_title {
        word-wrap: break-word;
    }

.card_wrapper.expired {
    border: 2px solid #FF280C;
    border-radius: 16px;
}

    .card_wrapper.expired .card_name_wrapper {
        background-color: #FF280C30;
    }

    .card_wrapper.expired:hover {
        border: 2px solid #FF280C;
    }

    .card_wrapper.expired .card_name_wrapper .mid_description {
        color: #FF280C;
    }

.card_wrapper {
    position: relative;
}

    .card_wrapper .close_action_btn {
        position: absolute;
        right: 10px;
        top: 10px;
    }

.card_header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_name_wrapper {
    padding: 5px;
    background-color: #1b74fd30;
    border-radius: 5px;
    width: fit-content;
}

    .card_name_wrapper .mid_description {
        color: #1b74fd;
    }

.card_action_wrapper {
    font-weight: 800;
    font-size: 18px;
    cursor: pointer;
}

.card_footer_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_details_info_wrapper {
    display: flex;
    align-items: center;
    margin: 0 -10px;
}

.card_detail_item {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    margin: 0 10px;
}

    .card_detail_item .item_icon {
        font-size: 18px;
        margin-right: 5px;
    }

.card_holder_wrapper {
    display: flex;
    align-items: center;
    padding: 3px 10px 3px 3px;
    border: 2px solid #EBECF2;
    border-radius: 50px;
}

    .card_holder_wrapper .holder_image_wrapper {
        margin-right: 15px;
    }

.holder_image_wrapper {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

    .holder_image_wrapper img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

.cards_main_wrapper::-webkit-scrollbar {
    width: 8px;
    background: #eee;
    border-radius: 8px;
}

.cards_main_wrapper::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 8px;
}

.edit_description_input {
    font-size: 18px;
    font-weight: 600;
    color: #292d34;
    border: none;
    width: 100%;
    resize: none;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

    .edit_description_input::placeholder {
        font-size: 14px;
        font-weight: 400;
    }



/*POPUP*/

.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
    z-index: 11;
}

    .popup__bg.active {
        opacity: 1;
        pointer-events: all;
        transition: 0.5s all;
    }

.popup {
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);*/
    position: relative;
    background: #fff;
    width: 760px;
    /*margin: 0px 0 80px;*/
    padding: 20px;
    border-radius: 0px 0px 0px 16px;
    min-height: fit-content;
    max-height: 96vh;
    transition: 0.3s all;
    overflow-y: scroll;
    scrollbar-color: #c1c1c1 #eee;
    scrollbar-width: thin;
}

    .popup.add_card {
        border-radius: 16px;
    }

/* хром, сафари */
.popup::-webkit-scrollbar {
    width: 0;
}

/* ie 10+ */
.popup {
    -ms-overflow-style: none;
}

    .popup.active {
        transform: translate(-50%, -50%) scale(1);
        transition: 0.3s all;
    }
/* Конец важной части */
/* Далее код для стилизации формы */
.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    color: #292d34;
}

.popup_wrapper {
    display: flex;
}

.leftside_popup_buttons_wrapper {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}

.leftside_button_wrapper {
    position:relative;
    background-color: #fff;
    padding: 5px 30px;
    border-radius: 10px 0px 0px 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    height: 80px;
    width:75px;
    cursor: pointer;
}

    .leftside_button_wrapper.active {
        width: 100px;
        background-color: #d4e5ff;
    }

        .leftside_button_wrapper.active .stage_indicator_circle {
            right:28px;
        }

    .leftside_button_wrapper .mid_title {
        margin-left: 5px;
    }

    .leftside_button_wrapper .stage_indicator_circle {
        position: absolute;
        right: 5px;
        top: 10px;
    }

    .leftside_button_icon {
        color: #1b74fd;
        font-size:30px;
    }

.close-popup:hover {
    transform: scale(1.1);
    color: #1B74FD;
}

.info_popup_card_wrapper .icon_description {
    font-size: 20px;
}

.comment_area_sidebar_wrapper {
    position: relative;
    background: #fff;
    width: 400px;
    /* margin: 0px 0 80px; */
    padding: 20px;
    border-radius: 0px 16px 16px 0px;
    min-height: 639px;
    max-height: 96vh;
    transition: 0.3s all;
    border-left: 2px solid #EBECF2;
}
/*VERIFY POPUP*/
.popup_verify_bg_wrapper {
    position: fixed;
    top: 0px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: transparent;
}

.popup_verify_wrapper {
    position: relative;
    background: #fff;
    width: 500px;
    /* margin: 0px 0 80px; */
    padding: 20px;
    border-radius: 16px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 10px -3px rgba(34, 60, 80, 0.3);
}

.popup_verify_action_btns_wrapper {
    display: flex;
    align-items: center;
}

.popup_verify_wrapper .action_btn {
    width: 200px;
}

.grid_description_2fr {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    /* gap:15px; */
}

.first_row_grid_description {
    display: grid;
    align-items: center;
    grid-template-columns: 40px auto;
    grid-template-rows: 1fr;
    gap: 15px;
}

.second_row_grid_description {
    display: grid;
    align-items: center;
    grid-template-columns: 40px auto;
    grid-template-rows: 1fr;
    gap: 15px;
}

.comment_user_wrapper .mid_title {
    font-size: 16px;
}

.comment_user_wrapper .holder_image_wrapper {
    width: 35px;
    height: 35px;
}

.commentarea_wrapper .comment_area textarea {
    background: #f5f5f5;
    color: #292d34;
    border-radius: 10px;
    box-shadow: none;
    box-sizing: border-box;
    border: none;
    margin: 0;
    max-height: 256px;
    min-height: 40px;
    overflow: hidden;
    overflow-wrap: break-word;
    padding: 15px;
    resize: none;
    width: 80%;
}

    .commentarea_wrapper .comment_area textarea::placeholder {
        font-size: 14px;
        color: #707070;
    }

.comment_area {
    padding: 5px 15px;
    background-color: #f5f5f5;
    border-radius: 0px 10px 10px 0px;
    border-left: 3px solid #1b74fd;
    /*box-shadow: 0px 4px 10px -3px rgba(34, 60, 80, 0.2);*/
}

    .comment_area .mid_description {
        font-weight: 500;
        color: #292d34;
        word-wrap: break-word;
    }

.commentarea_wrapper .action_btn {
    margin-top: 20px;
}

.comment_popup_card_wrapper {
    max-height: 82vh;
    overflow-y: scroll;
    scrollbar-color: #c1c1c1 #eee;
    scrollbar-width: thin;
}

    .comment_popup_card_wrapper::-webkit-scrollbar {
        width: 8px;
        height:15px;
        background: #f5f5f5;
        border-radius: 0 8px 8px 0;
    }

    .comment_popup_card_wrapper::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        border-radius: 8px;
    }

.comment_area_sidebar_wrapper textarea {
    background: #f5f5f5;
    color: #292d34;
    border-radius: 10px;
    box-shadow: 0px 4px 10px -3px rgba(34, 60, 80, 0.2);
    box-sizing: border-box;
    border: none;
    height: 40px;
    margin: 0;
    max-height: 256px;
    min-height: 40px;
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    padding: 10px;
    resize: none;
    overflow-y: scroll;
    scrollbar-color: #c1c1c1 #eee;
    scrollbar-width: thin;
}

    .comment_area_sidebar_wrapper textarea::-webkit-scrollbar {
        height: 15px;
        width: 8px;
        background: #eee;
        border-radius: 8px;
    }

    .comment_area_sidebar_wrapper textarea::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        border-radius: 8px;
    }


.add_comment_btns {
    display: none;
}

    .add_comment_btns.active {
        display: grid;
    }

    .add_comment_btns .action_btn {
        height: 40px;
    }

.title_wrapper .container_description input {
}

    .title_wrapper .container_description input:focus {
        /*outline: 2px solid #1B74FD;
    border-radius:5px;*/
    }

.title_popup_wrapper .title_wrapper input {
}



.card_name_input_wrapper input {
    font-size: 18px;
    font-weight: 700;
    height: 40px;
    border: none;
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    width: 100%;
}

.card_name_input_wrapper.card_detail_active{
    background-color: #f5f5f5;
    /*padding-left: 0px;*/
    border-radius:10px;
}

    .card_name_input_wrapper.card_detail_active input:focus {
        /*background-color: transparent;*/
        padding-left: 10px;
    }

    .card_name_input_wrapper.card_detail_active input:focus {
        /*outline: 2px solid #1B74FD;
    border-radius:5px;*/
        outline: 2px solid #1B74FD;
        background-color: #f5f5f5;
    }

.title_popup_wrapper .card_name_input_wrapper input::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #292d34;
}
/*CHOOSE DATE POPUP*/
.choose_date_wrapper {
    /* background-color: #1B74FD; */
}

    .choose_date_wrapper input {
        width: 200px;
        height: 40px;
        border: none;
        background-color: #f5f5f5;
        padding: 5px 10px;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
    }

.choose_fact_date_container{
    display:none;
}

.choose_fact_date_container.active {
    display: block;
}

/*POPUP DESCRIPTION*/
.description_popup_card_wrapper textarea {
    background: #f5f5f5;
    color: #292d34;
    border-radius: 10px;
    box-shadow: none;
    box-sizing: border-box;
    border: none;
    height: 20px;
    margin: 0;
    max-height: 256px;
    min-height: 100px;
    overflow: hidden;
    overflow-wrap: break-word;
    padding: 15px;
    resize: none;
    overflow-y: scroll;
    scrollbar-color: #c1c1c1 #eee;
    scrollbar-width: thin;
}

    .description_popup_card_wrapper textarea::-webkit-scrollbar {
        height: 15px;
        width: 8px;
        background: #eee;
        border-radius: 8px;
    }

    .description_popup_card_wrapper textarea::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        border-radius: 8px;
    }

/*POPUP SELECT ASSESSMENT*/
/*.select_assessment_wrapper select {
    width: 80%;
    height: 40px;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 15px;
}

.select_assessment_wrapper select  option{
    width: 80%;
    height: 40px;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 15px;
}*/

.select-box {
    position: relative;
    display: flex;
    /* width: 400px; */
    flex-direction: column;
}

    .select-box .fa-chevron-down {
        position: absolute;
        right: 15px;
    }



    .select-box .options-container {
        background: #f5f5f5;
        height: 0;
        width: 100%;
        opacity: 0;
        transition: all 0.2s;
        border-radius: 0px 0px 8px 8px;
        overflow: hidden;
        order: 1;
    }

        .select-box .options-container .description {
            font-weight: 400;
        }

.selected_main_wrapper {
    background-color: #f5f5f5;
    color: #000;
    /*border-radius: 8px 8px 0px 0px;*/
    border-radius: 10px;
    margin-bottom: 8px;
    min-height: 40px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 0;
}

    .selected_main_wrapper .description {
        font-weight: 400;
        font-size: 16px;
    }

    .selected_main_wrapper.active_border {
        border-radius: 10px 10px 0px 0px;
    }

    .selected_main_wrapper input {
        outline: none;
        border: none;
        background: transparent;
    }


.select-box .options-container.active {
    height: 240px;
    opacity: 1;
    overflow-y: scroll;
    scrollbar-color: #c1c1c1 #eee;
    scrollbar-width: thin;
    margin-top: -8px;
}


.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #f5f5f5;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: #1B74FD;
    /*border-radius: 0 8px 8px 0;*/
}

.select-box .option,
.selected_main_wrapper {
    padding: 12px 10px;
    cursor: pointer;
}

    .select-box .option:hover {
        background: #1B74FD;
        color: #fff;
    }

        .select-box .option:hover .mid_description {
            color: #fff;
        }

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}


/* Searchbox */

.search-box input {
    width: 100%;
    padding: 12px 10px;
    font-size: 16px;
    position: absolute;
    border-radius: 8px 8px 0 0;
    z-index: 100;
    border: 8px solid #eee;
    opacity: 0;
    pointer-events: none;
    /* transition: all 0.4s; */
}

    .search-box input:focus {
        outline: none;
    }

.select-box .options-container.active ~ .search-box input {
    opacity: 1;
    pointer-events: auto;
}

.selected_item_main_wrapper {
    padding: 10px;
    background-color: #c0c0c0;
    border-radius: 5px;
    width: 48%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-right: 2px;
}

    .selected_item_main_wrapper .description {
        /* margin-right: 5px; */
    }

.select_description_assessment {
    /*display:none;*/
}

    .select_description_assessment.active {
        display: grid;
    }

/**/
.selected_todrag_card {
    border: 1px dashed rgba(80, 48, 229, 0.59);
    background: rgba(80, 48, 229, 0.06);
}

.result_comment_assessment_container .result_comment_description {
    font-weight: 400;
}

.report_employee_result {
    display:none;
}

    .report_employee_result.active {
        display: block;
    }

.report_employee_result_container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.result_assessment_wrapper {
    border: 2px solid #1b74fd;
    font-weight: 500;
    color: #292d34;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
}

/*UPLOAD FILES*/
.mid_title_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upload_file_btn_wrapper {
    position: relative;
    /*display:flex;
    align-items:center;*/
}

    .upload_file_btn_wrapper input {
        /* opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 0px;
        cursor: pointer;*/
    }

    .upload_file_btn_wrapper i {
        cursor: pointer;
    }

.input__wrapper {
    width: 100%;
    position: relative;
    text-align: center;
    background-color: transparent;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
}

    .input__wrapper:hover {
        background-color: #1b74fd30;
        border: 2px solid #1b74fd30;
        border-radius: 10px;
        color: #1b74fd;
    }

        .input__wrapper:hover .input__file-button {
            color: #1b74fd;
        }

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.input__file-icon-wrapper {
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 500;
    /*color: #4d4d4d;*/
}

.input__file-button {
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    color: #4d4d4d;
    height: 35px;
    padding: 15px 10px;
    /*border: none;*/
    letter-spacing: 0.01em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/**/
section .row {
    margin-bottom: 10px;
    background: #f5f5f5;
    list-style: none;
    padding: 15px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.content_upload_type_icon {
    font-size: 30px;
    color: #1b74fd;
}

.content_upload_delete_icon {
    font-size: 16px;
    color: #625f6d;
    background-color: #cbcbcb;
    width: 20px;
    height: 20px;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .content_upload_delete_icon:hover {
        transform: scale(1.05);
        cursor: pointer;
        color: #fff;
    }

section .details span {
    font-size: 14px;
}

.progress-area .row .content {
    width: 100%;
    margin-left: 15px;
}

.progress-area .details {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
}

.details .download {
    text-decoration: underline;
}

.progress-area .content .progress-bar {
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: #fff;
    border-radius: 30px;
}

.content .progress-bar .progress {
    height: 100%;
    width: 0%;
    background: #6990F2;
    border-radius: inherit;
}

.uploaded-area {
    /*max-height: 232px;*/
    /*overflow-y: scroll;*/
}

    .uploaded-area a {
        text-decoration: none;
        color: #292d34;
    }

    .uploaded-area.onprogress {
        max-height: 150px;
    }

    .uploaded-area::-webkit-scrollbar {
        width: 0px;
    }

    .uploaded-area .row .content {
        display: flex;
        align-items: center;
    }

    .uploaded-area .row .details {
        display: flex;
        margin-left: 15px;
        flex-direction: column;
    }

        .uploaded-area .row .details .size {
            color: #404040;
            font-size: 11px;
        }

    .uploaded-area i.fa-check {
        font-size: 16px;
    }


.history_list_wrapper .holder_image_wrapper {
    width: 35px;
    height: 35px;
}

.history_list_wrapper .mid_title {
    font-size: 16px;
}

.history_list_wrapper .history_item_wrapper {
    margin-top: 15px;
}

    .history_list_wrapper .history_item_wrapper:first-child {
        margin-top: 0px;
    }

.history_info_wrapper .date_description {
    font-size: 14px;
    margin-top: 6px;
    color: #707070;
    font-weight: 400;
}

.history_item_wrapper img {
    width: 35px;
    height: 35px;
}

.history_description_wrapper .main_description_history {
    font-style: italic;
    font-weight: 500;
    color: #292d34;
}

.table_list_view {
    width: 100%;
    /* border-spacing: 0px; */
    border-spacing: 0px 5px;
}

    .table_list_view thead tr {
        position: relative;
    }

    .table_list_view th {
        text-align: left;
        /*color: #707070;*/
        font-weight: 500;
    }

        .table_list_view th:first-child {
            /*background-color: #1b74fd30;
            color: #1b74fd;*/
            padding: 15px 15px 20px 15px;
            border-radius: 10px 10px 0px 0px;
            width: fit-content;
            position: absolute;
            top: -20px;
            display: flex;
        }

    .table_list_view .extra_info {
        width: 5%;
    }

    .table_list_view .delete_card {
        width: 3%;
    }

    .table_list_view tr td {
        background-color: #f5f5f5;
        padding: 10px 10px;
        /* border-radius:10px; */
    }

    .table_list_view tbody tr {
        position: relative;
    }

        .table_list_view tbody tr:hover {
            transform: scale(1.008);
            cursor: pointer;
        }

    .table_list_view tr td:first-child {
        border-radius: 10px 0px 0px 10px;
        padding: 24px 20px;
    }

    .table_list_view tr td:last-child {
        border-radius: 0px 10px 10px 0px;
    }

    .table_list_view .table_title_wrapper {
        display: flex;
        align-items: center;
        min-width: 335px;
    }
