@model TrelloClone.ViewModels.CardDetails

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h2>Детали</h2>
    
    <div class="row">
        <form class="col s12" asp-controller="Card" asp-action="Update">
            
            <div class="row">
                <div class="input-field col s12">
                    <input asp-for="Name" />
                    <label asp-for="Name">Наименование SMART-задачи</label>
                </div>
            </div>


            <div class="row">
                <div class="input-field col s12">
                    <input asp-for="Requirement" />
                    <label asp-for="Requirement">Требование к задаче (что считается исполнением задачи)</label>
                </div>
            </div>


            <div class="row">
                <div class="input-field col s12">
                    <input type="month" asp-for="Term" />
                    <label asp-for="Term">Плановый срок реализации задачи</label>
                </div>
            </div>

            @if (Model.Column > 3)
            {
                <div class="row">
                    <div class="input-field col s12">
                        <select asp-for="EmployeeAssessment" asp-items="Html.GetEnumSelectList<TrelloClone.Models.Enum.Marks>()">
                        </select>
                        <label asp-for="EmployeeAssessment">Оценочное суждение работника</label>
                    </div>
                </div>


                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="EmployeeComment" />
                        <label asp-for="EmployeeComment">Комментарий работника</label>
                    </div>
                </div>

                @if(Model.Column > 4)
                {
                    <div class="row">
                        <div class="input-field col s12">
                            <select asp-for="SupervisorAssessment" asp-items="Html.GetEnumSelectList<TrelloClone.Models.Enum.Marks>()">
                            </select>
                            <label asp-for="SupervisorAssessment">Оценочное суждение непосредственного руководителя</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="input-field col s12">
                            <input asp-for="SupervisorComment" />
                            <label asp-for="SupervisorComment">Комментарий непосредственного руководителя</label>
                        </div>
                    </div>
                }              
            }
            

            <div class="row">
                <input type="submit" value="Save" class="btn">
                <button asp-controller="Home" asp-action="Index" class="btn">Back to Boards</button>
            </div>
            <input asp-for="Id" type="hidden"/>
        </form>
    </div>
</div>


@if(TempData.ContainsKey("Message"))
{
    <script type="text/javascript">
        M.toast({ html: '@TempData["Message"]'}, 3000);
    </script>
}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>
