@using Newtonsoft.Json
@model List<TrelloClone.ViewModels.Report.ReportMonthModel>

<div id="report">
    <div class="home-content">
        <div class="home_content_info">


            <div class="home_content_info_icon">
                <i class="fa-solid fa-folder"></i>
            </div>


            <div class="mid_title">
                Отчет
            </div>


        </div>
    </div>


    <input type="text" id="input-datepicker" placeholder="Выберите период" class="input_datepicker">


    <div class="header_btns_wrapper" id="header_btns_wrapper">


        @foreach (var month in Model)
        {
            <button type="button" class="btn btn-secondary" onclick='GetMonthReport(@Newtonsoft.Json.JsonConvert.SerializeObject(month))'>@month.MonthName</button>
        }


    </div>


    <section class="main_container_content" id="main_container_content">
    </section>
</div>



<script>


    function GetMonthReport(month) {
        $.post('@Url.Action("GetMonthReportViewComponent")', { reportMonthModel: month },
            function (result) {
                $("#main_container_content").html(result);
            });
    }


    let downloadExcelBtn = {
        content: 'Показать',
        className: 'custom-button-classname',
        onClick: (dp) => {
            let viewDate = document.getElementById('input-datepicker').value
            //saveReport(viewDate)
            showReport(viewDate)
        }

    }


    new AirDatepicker('#input-datepicker', {
        range: true,
        multipleDatesSeparator: ' - ',
        buttons: [downloadExcelBtn, 'clear'],
    });


    function saveReport(viewDate) {

        var url = "/UserBoard/GetReport";
        formData = new FormData();
        formData.append("viewDate", viewDate);

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: async function (response) {
                console.log(response);
                const result = response;
                window.open(`../${result}`, "_blank");
            }
        });
    }

    function showReport(viewDate) {
        var url = "/UserBoard/GetReportView";
        formData = new FormData();
        formData.append("viewDate", viewDate);

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: async function (response) {
                const main_container_content = document.getElementById('report')
                main_container_content.innerHTML = response;
            }
        });
    }

</script>