@model TrelloClone.ViewModels.UserBoardList;
@{
    ViewData["Title"] = "Index";
}

@foreach (var notification in Model.Notifications)
{
    <font color="red">
        <center>
            @notification
        </center>
    </font>
}

<div class="container">
    <div class="row">

        @foreach (var user in Model.Users)
        {
            <div class="card s12">
                <div style="float: left; margin-right: 2em; width: 22em;">
                    <div class="card blue-grey darken-1">

                        <div class="card-content white-text">
                            <span class="card-title">
                                @user.Name
                            </span>
                        </div>

                        <div class="card-action">
                            <a asp-action="Index" asp-controller="UserBoard"
                               asp-route-id="@user.Id"
                               class="collection-item">Открыть</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


