@model TrelloClone.ViewModels.UserBoardList


<li><a class="link_name">Задачи работников</a></li>


@foreach(var user in Model.Users)
{
    <li>


        <div class="stage_indicator_circle blue_bcolor"></div>


        <a asp-controller="UserBoard" asp-action="ListEmployeeCards" asp-route-employeeId="@user.Id">@user.Name.Split(' ')[0] @user.Name.Split(' ')[1]</a>


    </li>
}