@model TrelloClone.ViewModels.LoginViewModel
<link rel="stylesheet" href="~/css/style_authorization.css">
<body>

				<div class="main_container_authorization">
		<div class="container" id="container">
			<div class="form-container sign-in-container">
				<form autocomplete="on" method="post" asp-controller="Account" asp-action="Login" class="login_form">
					<h1>Вход</h1>
					<input asp-for="Login" type="login" class="form-control" placeholder="Логин" id="login-box" required />

					<input asp-for="Password" autocomplete="new-password" type="password" class="form-control" placeholder="Пароль" required />
					@*<a href="#">Забыли пароль?</a>*@
					<button>Войти</button>
				</form>
			</div>
			<div class="overlay-container">
				<div class="overlay">
					<div class="overlay-panel overlay-right">
						<h1>MTSmart</h1>
						<img src="/image/smartproj_icon.svg" alt="">
					</div>
				</div>
			</div>
		</div>
				</div>
                
            </div>

</body>

<script>
    //const wrapper = document.querySelector(".login_main_wrapper"),
    //    signupHeader = document.querySelector(".signup header"),
    //    forgotPassBtn = document.getElementById("forgot_pass")
    //loginHeader = document.querySelector(".login header");

    //forgotPassBtn.addEventListener("click", () => {
    //    wrapper.classList.add("active");
    //    console.log('add')
    //    console.log(forgotPassBtn)
    //});

    //signupHeader.addEventListener("click", () => {
    //    wrapper.classList.remove("active");
    //    console.log('remove')
    //});
</script>
